{% extends "base_admin.html.twig" %}
{% block title %}
    {{ "app.backend.webpagestitles.editpages"|trans }}
{% endblock %}
{% block admin_body %}

    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-6 align-self-center-center">
                <h1>{{ "app.backend.headers.pagedetails"|trans }} <small>[{{ page.title }}]</small></h1>
            </div>
            <div class="col-6 align-self-center text-right">
                <a href="{{ path("admin.pages.list") }}" class="btn btn-sm btn-outline-primary">{{ "app.backend.buttons.view_pages"|trans }}</a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container-fluid p-0">
        {% include "page/components/edit_form.html.twig" %}
    </div>

    <hr>
    <div class="container-fluid p-0">
        {% include "page/components/edit_page_content.html.twig" %}
    </div>

{% endblock %}