{% extends "base_admin.html.twig" %}

{% block admin_body %}

    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-6 align-self-center-center">
                <h1>{{ "app.backend.headers.existentpages"|trans }}</h1>
            </div>
            <div class="col-6 align-self-center text-right">
                <a href="{{ path("admin.pages.new") }}" class="btn btn-sm btn-outline-primary">{{ "app.backend.buttons.create_page"|trans }}</a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container-fluid p-0">

        <table class="table table-hover admin__page-list">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Url Path</th>
                    <th scope="col" class="text-center">Published</th>
                    <th scope="col" class="text-center">Listed</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>

                {% for page in pages %}
                    <tr>
                        <td class="text-truncate t-200">{{ page.title }}</td>
                        <td class="text-truncate t-350">{{ page.description|striptags }}</td>
                        <td class="text-truncate t-350">{{ page.slug }}</td>
                        <td class="text-center">{% if page.active %}<img src="{{ asset("build/images/icons/green_ball.png") }}" alt="page active" class="icon-md"/>{% else %}<img src="{{ asset("build/images/icons/red_ball.png") }}" alt="page active" class="icon-md"/>{% endif %}</td>
                        <td class="text-center">{% if page.inNavigation %}<img src="{{ asset("build/images/icons/green_ball.png") }}" alt="page active" class="icon-md"/>{% else %}<img src="{{ asset("build/images/icons/red_ball.png") }}" alt="page active" class="icon-md"/>{% endif %}</td>
                        <td class="text-center">
                            <a href="{{ path("admin.page.edit", {puid: page.puid}) }}" class="btn btn-sm btn-outline-primary">edit</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}