{% extends "base_admin.html.twig" %}
{% block title %}
    {{ "app.backend.webpagestitles.newpage"|trans }}
{% endblock %}

{% block admin_body %}
    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-6 align-self-center-center">
                <h1>{{ "app.backend.headers.createpage"|trans }}</h1>
            </div>
            <div class="col-6 align-self-center text-right">
                <a href="{{ path("admin.pages.list") }}" class="btn btn-sm btn-outline-primary">{{ "app.backend.buttons.view_pages"|trans }}</a>
            </div>
        </div>
        <hr>
    </div>

    {{ form_start(form) }}
        <div class="row justify-content-center">

            <div class="col-12">
                {{ form_label(form.title, "app.backend.forms.new_page_creation.labels.pagetitle"|trans) }}
                {{ form_widget(form.title, {
                        "attr": {
                            "class" : "form-control",
                            "placeholder": "app.backend.forms.new_page_creation.placeholders.pagetitle"|trans,
                        }
                    }) }}
            </div>

            <div class="col-12 mt-2">
                {{ form_label(form.description, "app.backend.forms.new_page_creation.labels.pagedescription"|trans) }}
                {{ form_widget(form.description, {
                    "attr": {
                        "class" : "form-control tinymce",
                        "placeholder" : "app.backend.forms.new_page_creation.placeholders.pagedescription"|trans,
                    }
                }) }}
            </div>

            <div class="col-12 mt-2">
                {{ form_label(form.slug, "app.backend.forms.new_page_creation.labels.urlpath"|trans, {"label_html" : true}) }}
                {{ form_widget(form.slug, {
                    "attr": {
                        "class" : "form-control",
                        "placeholder": "app.backend.forms.new_page_creation.placeholders.urlpath"|trans,
                    }
                }) }}
            </div>

            <div class="col-12 mt-2 pl-0">
                <div class="custom-control custom-switch">
                    <div class="custom-control custom-switch">
                        {{ form_widget(form.in_navigation, {
                            "attr" : {
                                "class" : "custom-control-input"
                            }
                        }) }}

                        {{ form_label(form.in_navigation, "app.backend.forms.new_page_creation.checkboxes.pageinNavmenu"|trans, {
                            "label_attr" : {
                                "class" : "custom-control-label"
                            }
                        }) }}
                    </div>
                </div>
            </div>


            <div class="col-12 pl-0">
                <div class="custom-control custom-switch">
                    <div class="custom-control custom-switch">
                        {{ form_widget(form.active, {
                            "attr" : {
                                "class" : "custom-control-input"
                            }
                        }) }}

                        {{ form_label(form.active, "app.backend.forms.new_page_creation.checkboxes.pageactive"|trans, {
                            "label_attr" : {
                                "class" : "custom-control-label"
                            }
                        }) }}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-1">
                <hr>
                <button type="submit" class="btn btn-block btn-primary">{{ "app.backend.forms.new_page_creation.form-buttons.submit_createpage" |trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}


{% endblock %}