{% extends "base_admin.html.twig" %}

{% block admin_body %}

    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-12 align-self-center-center">
                <h1>{{ "app.backend.headers.securitysettings"|trans }}</h1>
            </div>
        </div>
        <hr>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div id="password_changed" class="col-12 d-none">
                <div class="alert alert-success">
                    {{ "app.backend.forms.change_password.alert.success"|trans }}
                </div>
            </div>

            <div id="password_not_changed" class="col-12 d-none">
                <div class="alert alert-warning">
                    {{ "app.backend.forms.change_password.alert.error"|trans }}
                </div>
            </div>

            <div class="col-12">
                <label for="input__password">{{ "app.backend.forms.change_password.labels.password"|trans }}</label>
                <input id="input__password" name="password" type="password" placeholder="{{ "app.backend.forms.change_password.placeholders.password"|trans }}" class="form-control">
            </div>

            <div class="col-12 mt-2">
                <label for="input__password2">{{ "app.backend.forms.change_password.labels.confirm_password"|trans }}</label>
                <input id="input__password2" name="confirm_password" type="password" placeholder="{{ "app.backend.forms.change_password.placeholders.confirm_password"|trans }}" class="form-control">
            </div>

            <div class="col-12 mt-4">
                <button type="button" class="btn btn-block btn-success" onclick="javascript:window.updatePassword.call(this)">{{ "app.backend.forms.change_password.button"|trans }}</button>
            </div>
        </div>
    </div>

{% endblock %}