{% extends "base_admin.html.twig" %}
{% block title %}
    {{ "app.backend.webpagestitles.settings"|trans }}
{% endblock %}

{% block admin_body %}

    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-12 align-self-center-center">
                <h1>{{ "app.backend.headers.globalsettings"|trans }}</h1>
            </div>
        </div>
        <hr>
    </div>

    <div class="container-fluid p-0">
        <div class="row justify-content-between">
            <div class="col-12 align-self-center-center">
                <h4>{{ "app.backend.headers.home_page_setting"|trans }}</h4>
            </div>

            <div class="col-12">
                <div class="alert alert-info text-xs mb-1">
                    {{ "app.backend.content.settings.disclaimer.homepage"|trans }}
                </div>

                <select name="homepage" class="custom-select">
                    {% for page in pages %}
                        <option value="{{ page.puid }}" {% if current_homepage == page.puid %}selected="true"{% endif %}>{{ page.title }}</option>
                    {% endfor %}
                </select>

                <div id="homepageChangeAlert" class="alert alert-success d-none mt-1 mb-0">
                    {{ "app.backend.forms.change_homepage.alert"|trans }}
                </div>

                <button type="submit" class="btn btn-block btn-success mt-1" onclick="javascript:window.selectHomepage.call(this)">{{ "app.backend.forms.change_homepage.button"|trans }}</button>

            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid p-0 mt-2">
        <div class="row justify-content-between">
            <div class="col-12 align-self-center-center">
                <h4>{{ "app.backend.headers.maintenance_mode"|trans }}</h4>
            </div>

            <div class="col-12">
                <div class="alert alert-info text-xs mb-1">
                    {{ "app.backend.content.settings.disclaimer.maintenance"|trans }}
                </div>

                <select name="maintenance" class="custom-select">
                    <option value="0" {% if current_maintenance == 'false' %}selected="true"{% endif %}>{{ "app.backend.forms.change_maintenance.options.disabled"|trans }}</option>
                    <option value="1" {% if current_maintenance == 'true' %}selected="true"{% endif %}>{{ "app.backend.forms.change_maintenance.options.enabled"|trans }}</option>
                </select>

                <div id="maintenanceChangeAlert" class="alert alert-success d-none mt-1 mb-0">
                    {{ "app.backend.forms.change_maintenance.alert"|trans }}
                </div>

                <button type="submit" class="btn btn-block btn-success mt-1" onclick="javascript:window.selectMaintenance.call(this)">{{ "app.backend.forms.change_maintenance.button"|trans }}</button>

            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid p-0 mt-2">
        <div class="row justify-content-between">
            <div class="col-12 align-self-center-center">
                <h4>{{ "app.backend.headers.website_title"|trans }}</h4>
            </div>

            <div class="col-12">
                <div class="alert alert-info text-xs mb-1">
                    {{ "app.backend.content.settings.disclaimer.website_title"|trans }}
                </div>

                <input id="websiteTitle" type="text" placeholder="{{ 'app.backend.forms.change_website_title.placeholder'|trans }}" class="form-control" value="{{ current_title.value }}">

                <div id="titleChangeAlert" class="alert alert-success d-none mt-1 mb-0">
                    {{ "app.backend.forms.change_website_title.alert"|trans }}
                </div>

                <button type="submit" class="btn btn-block btn-success mt-1" onclick="javascript:window.selectTitle.call(this)">{{ "app.backend.forms.change_website_title.button"|trans }}</button>

            </div>
        </div>
    </div>

{% endblock %}