<div id="sidebar" class="admin__sidebar bg-light pt-3">
    <div class="container-fluid menu">

        <div class="admin__link-container menu__link">
            <a href="#" data-toggle="collapse" data-target="#pagesLink" role="button"><img src="{{ asset("build/images/icons/pages.png") }}" class="icon-bg" alt="settings icon">&nbsp;{{ "app.backend.menus.sidebar.titles.pages"|trans }}</a>

            <div id="pagesLink" class="collapse border-bottom py-2" data-parent="#sidebar">
                <div class="row">
                    <div class="col-12 pl-4">
                        <img src="{{ asset("build/images/icons/bullet.png") }}" alt="menu icon" class="icon">
                        &nbsp;<a href="{{ path("admin.pages.new") }}">{{ "app.backend.menus.sidebar.items.newpage"|trans }}</a>
                    </div>
                    <div class="col-12 pl-4">
                        <img src="{{ asset("build/images/icons/bullet.png") }}" alt="menu icon" class="icon">
                        &nbsp;<a href="{{ path("admin.pages.list") }}">{{ "app.backend.menus.sidebar.items.viewpages"|trans }}</a>
                    </div>
                </div>
            </div>

        </div>



        <div class="admin__link-container menu__link">
            <a href="#" data-toggle="collapse" data-target="#settingsLink" role="button" class="link"><img src="{{ asset("build/images/icons/settings.png") }}" class="icon-bg" alt="settings icon">&nbsp;{{ "app.backend.menus.sidebar.titles.settings"|trans }}</a>

            <div id="settingsLink" class="collapse border-bottom py-2" data-parent="#sidebar">
                <div class="row">
                    <div class="col-12 pl-4">
                        <img src="{{ asset("build/images/icons/bullet.png") }}" alt="menu icon" class="icon">
                        &nbsp;<a href="{{ path("admin.settings") }}">{{ "app.backend.menus.sidebar.items.globalsettings"|trans }}</a>
                    </div>
                    <div class="col-12 pl-4">
                        <img src="{{ asset("build/images/icons/lock.png") }}" alt="menu icon" class="icon">
                        &nbsp;<a href="{{ path("admin.security") }}">{{ "app.backend.menus.sidebar.items.security"|trans }}</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="admin__link-container menu__link">
            <a href="{{ path('app_logout') }}"><img src="{{ asset("build/images/icons/quit.gif") }}" class="icon-bg" alt="logout icon">&nbsp;{{ "app.backend.forms.logout_form.button"|trans }}</a>
        </div>

    </div>
</div>