{% extends "base.html.twig" %}

{% block title %}
    {{ page.title|capitalize }}
{% endblock %}


{% block body %}
    <div class="container p-0 mt-2">

        <div class="row justify-content between m-0">

            {% for block in blocks %}
                <div class="{{ block.mobileBreakpoint }} {{ block.desktopBreakpoint }} align-self-center mt-4 px-2">
                    {% if block.type == 'text' %}
                        {{ block.content|raw }}
                    {% endif %}

                    {% if block.type == 'image' %}
                        <img src="{{ vich_uploader_asset(block, 'image_file') }}" class="img-fluid">
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}