{% extends "base.html.twig" %}

{% block title %}
    {{ page.title|capitalize }}
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">LOGO-Fluid CMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% for nav_page in nav_pages %}
                    {% if nav_page.inNavigation and nav_page.active %}
                        <li class="nav-item">
                            <a href="/{{ nav_page.slug }}" class="nav-link">{{ nav_page.title|capitalize }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container p-0 mt-2">

        <div class="row justify-content between m-0 mb-5">

            {% for block in blocks %}
                <div class="{{ block.mobileBreakpoint }} {{ block.desktopBreakpoint }} align-self-center mt-4 px-2  {% if block.type == 'image' %}text-center{% endif %}">
                    {% if block.type == 'text' %}
                        {{ block.content|raw }}
                    {% endif %}

                    {% if block.type == 'image' %}
                        <img src="{{ asset('build/images/icons/loading-image.gif') }}" data-src="{{ vich_uploader_asset(block, 'image_file') }}" class="img-fluid lazy">
                    {% endif %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}