<div class="row">
    <div class="col-12">
        <h2>{{ "app.backend.headers.editpagecontent"|trans }}</h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <button id="addBlocksButton" type="button" class="btn btn-primary btn-block dropdown-toggle shadow" data-toggle="dropdown">
            <img src="{{ asset("build/images/icons/add.png") }}" class="icon-xl vertical-bottom" alt=""/>
            {{ "app.backend.forms.edit_page_contents.form-buttons.add-newblock"|trans }}
        </button>

        <div class="dropdown-menu" aria-labelledby="addBlocksButton">
            <a class="dropdown-item" href="#" onclick="javascript:window.block.createBlock.call(this)" data-page="{{ page.id }}" data-type="text" data-href="{{ path('blocks.new') }}" disabled="disabled">{{ "app.backend.forms.edit_page_contents.form-buttons.add-text-block"|trans }}</a>
            <a class="dropdown-item" href="#" data-type="image" data-href="{{ path('blocks.new') }}" data-page="{{ page.id }}">{{ "app.backend.forms.edit_page_contents.form-buttons.add-image-block"|trans }}</a>
        </div>
    </div>
</div>

<div id="blocks__container" class="position-relative" data-delete="{{ path("blocks.delete") }}" data-resizemd="{{ path("blocks.resize.md") }}" data-resizemob="{{ path("blocks.resize.mob") }}" data-priority="{{ path("blocks.priority") }}" data-puid="{{ page.puid }}">
    <div id="blocks__load">
        <div class="row h-100 text-center">
            <div class="col-12 align-self-center">
                <img src="{{ asset("build/images/icons/loading.gif") }}" alt="loading icon" class="icon-loading">
            </div>
        </div>
    </div>
    <div id="blocks" class="custom-shadow-inset border border-primary p-2 mb-5 row m-0">
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){

        $.ajax({
            url: '/blocks/get',
            type: 'POST',
            data: {puid: "{{ page.puid }}"},
            success: function(data) { window.block.populateData(data) },
            error: function(data) { console.log(data) }
        })

        window.drake = dragula([document.getElementById("blocks")]);

        window.drake.on('drop', function(el, target, source, sibling){
            window.reassignPriority();
        })

    });
</script>