<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="robots" content="nofollow">
        <meta name="googlebot" content="noindex">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('alerts') }}
        {{ encore_entry_script_tags('locales') }}

        <link rel="icon"
              type="image/png"
              href="{{ asset("build/images/favicon.png") }}" />
    </head>
    <body>
        {% block navigation %}
            {# Todo -> create nav element from bootstrap #}
            {% include "shared/blogfront_menu.html.twig" %}
        {% endblock %}

        {% block flashes %}
            {% include "shared/flashes/success.html.twig" %}
            {% include "shared/flashes/error.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
